:root{
  --black: #130f40;
  --light-color: #666;
  --box-shadow:0 0.5rem 1 rem rgba(0,0,0,0.1);
  --border: 0.2rem solid rgba(0,0,0,0.1);
  --outline: 0.1rem solid rgba(0,0,0,0.1);
  --outline-hover: 0.2rem solid var(--black);
}

*{
  margin: 0;
  padding: 0;
  outline: none; 
  border:none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 60px;
  background: #E5D9FA;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header a img{
  padding-top: 5px;
  width: 120px;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#navbar li{
  list-style-type: none;
  padding: 0 20px;
  position: relative;

}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active{
  color: #B23B9F;
 
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background:#B23B9F;
  position: absolute;
  bottom: -4px;
  left: 20px;

}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}


/* Gallery */
.gallery{
  outline: none; 
  border:none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18rem 0 2rem 0;
}

.gallery2{

  outline: none; 
  border:none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 2rem 0;
}

.guitar-type{
  text-align: center;
  padding: 5rem 0 3rem;
  font-size: 3.5rem;
  width: 60rem;
  text-decoration: underline;
  font-weight: bolder;
  display: inline-block;
  text-decoration: underline #D1EE1D;
    color: #6E197B;
}

.card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.card .box{
  padding: 3rem 2rem;
  background: #E1CFFF;
  background: linear-gradient(0.2deg, #E1CFFF 72.47%, rgb(255, 255, 255) 102.53%);
  filter: drop-shadow(0px 5.41463px 4.33171px rgba(0, 0, 0, 0.25));
  text-align: center;
  background-position: center top;
  background-size: cover;
  position: relative; 
  /* margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1.2rem; */
}
 
.card .box .buy{
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #e1cfff;
  background: linear-gradient(0.2deg, rgba(225, 207, 255, 0.808) 72.47%, rgb(255, 255, 255) 102.53%);
  box-shadow: inset -4px -4px 20px rgba(255, 255, 255, 0.35), inset 4px 4px 20px rgba(255, 255, 255, 0.35);
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.card .box .name{
  position: absolute;
  left: 0;
  text-align: center;
  bottom: -40px;
  width: 100%;
  height: 18%;
  transition: 0.3s ease-in-out;
  background: transparent;
  font-size: 20px;
}

.card .box .name h3{
  font-size: 20px;
  font-weight: bold;
  color: var(--black);  
}

.box:hover .name{
  bottom: -50px;
  display: none;
}

.box:hover .buy{
  bottom: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.box button{
  position: absolute;
  top: 75%;
  cursor: pointer;
  columns: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 65px 0px;
  position: relative;
  width: 90px;
  height: 40px;
  float: center;
  background: #ff00b8;
  border-radius: 20px;
  border: none;
  transition: transform 0.5s;
}

.box button:hover{
  columns: #ff00b8;
  background: #fff;
  transition: 0.4s;
  transform: scale(1.1);
  border: 1px solid #ff00b8;
}

.price h1{
  position: absolute;
  width: 100%;
  top: 15%;
  text-align: center;
  font-size: 20px;
  color: var(--black);
  text-decoration: underline;
}

.price h2{
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  color: var(--black);
  font-size: 25px;
}

footer{
  bottom: 0;
}

.footer-distributed{
  background-color: #9282C8;
  box-sizing: border-box;
  text-align: left;
  widows: 100%;
  font: bold 16px sans-serief;
  padding: 50px 50px 60px 50px;
  margin-top: 76px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}


.footer-distributed .footer-left {
  width: 30%;
  margin-left: 10px;
}

.footer-distributed .footer-left img {
  width: 200px;
  
}


.footer-distributed .footer-links {
  color: #0a0505;
  margin-bottom: 20px;
  margin-right: 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center {
  width: 35%;
  margin-top: 15px;
}

.footer-distributed .footer-center img {
  font-size: 25px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}


.footer-distributed .footer-center p {
  display: inline-block;
  color: #000000;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}



/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
  margin-left: 10px;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #000000;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* Responsive Media Override */
@media(max-width: 912px){
  html{
    font-size: 55%;
  }

  section{
    padding: 2rem;
  }
}

@media(max-width: 800px){
  

  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #d2c0f0;
    box-shadow: 0 40px 60px rgba(22, 21, 21, 0.01);
    z-index: 1000;
    padding: 80px 0 0 10px;
}

#navbar.active{
    right: 0px;
}

#navbar li{
    margin-bottom: 25px;
}

#mobile{
    display: flex;
    align-items: center;
}

#close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
}

#close .x{
    width: 1.5rem;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.footer-distributed .footer-center i {
  margin-left: 0;
}

}

@media(max-width: 450px){
  html{
    font-size: 50%;
  }
  .heading{
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1366px){
  .card{
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 5rem;
    padding: 0;
  }
}

@media only screen and (min-width: 1370px) and (max-width:1605px){
  .card{
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 12rem;
  }

  #header{
    
  }

  #navbar{
    left: 0;
    right: 0;
    width: 100%;
  }

}